@model IEnumerable<BankTransactions.Models.Transaction>
@{
    ViewData["Title"] = "Index";
}

<h1>Passbook</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Date)
            </th>

            <th>
                @Html.DisplayNameFor(model=>model.Amount)
            </th>
            <th>
                <a asp-action="AddorEdit" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i>New</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AccountNumber
                </td>
                <td>
                    @item.BeneficiaryName
                </td>
                <td>
                    @item.Date
                </td>

                <td>
                    @item.Amount
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <form asp-action="Delete" asp-route-id="@item.id">
                            <a asp-action="AddOrEdit" asp-route-id="@item.id" class="btn btn-warning">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you suure you want to delete record?')">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>

                    </div>
                    
                       
                </td>


            </tr>

        }
    </tbody>

</table>
